@charset "UTF-8";

body {  /* Ponemos el mismo fondo en todas las ventanas */      
	content: "";
	background: url(imagenes/Toronto.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
section{
	height: 10%;
	width: 100%;
}
a{ /* Color predeterminado para etiquetas "a" */
	color: #040a41;
}
a:link { /* Vínculos */
	color: #cabb33;
	text-decoration:none; /* para que no subraye los vínculos */ 
}
a:hover {    /* indica el estilo cuando el cursor está sobre el elemento */ 
	color: #b92929;
}
.menu {    /* estilo para el menu de navegación */ 
	position:relative;
	width: 900px;  
	margin: auto;
}
.botonMenu {      /* estilo para cada botón del menu de navegación */ 
	font-family: 'Economica', sans-serif;;  /* Fuentes de Google */
	font-size: 15px;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	width: 142px; 
	background-image: url(imagenes/boton1.jpg);
	padding:5px 10px 6px 8px;
	float: left;
	cursor: pointer;
}
.botonMenu:link {
	color:#666666;
	text-decoration: none;	/* para que no subraye los vínculos */ 
	cursor: pointer;
}
.botonMenu:hover {  /* indica el estilo cuando el cursor está sobre el elemento */ 
	color:#FFFFFF;
	text-shadow: 1px 1px #000000;
	background-image: none;	
	background-color: #cabb33;
	cursor:pointer;
} 
/* elementos del menu desplegable*/
#btn-menu {
    display: none;   /* oculta el checkbox cuando no es necesario*/
} 
header {
    width: 100%;
	z-index: 10;	/* coloca el checkbox por encima del contenido*/
} 
header label {     /* coloca el checkbox en un lugar y tamaño exactos*/
    display: none;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    top: 30px;
} 
header label:hover {
    cursor: pointer;    /* cambia el cursor sobre el checkbox para indicar la interacción*/
}
    .menu ul{
    margin-left: 20px; 
    list-style: none;     /* para evitar los bullit list en la lista*/
    padding: 0;
    display: flex;
}
    .menu li{
    background-image: url(../imagenes/boton1.jpg);
    background-repeat: no-repeat; /* evita que se repita la imagen aunque cambie el tamaño*/
    width: 160px;
    height: 30px;
    font-size: 14px;
	text-align: center;
    color: #666666;
    text-decoration: none; 
    margin-bottom: 10px;
} 
    .menu li a {
    display: block;
    font-family: Ancizar Sans-regular;
    text-align: center;
    color: #666666;
    text-decoration: none;    
    padding-top:6px;    
}
    .menu li a:hover , .menu li a:active{
    color:#FFFFFF;
	text-shadow: 1px 1px #000000;	
	background-image: url(../imagenes/boton2.jpg);
    background-repeat: no-repeat;
    height: 30px;
    padding-top:6px;
}   
h1{     /* estilo para los titulares */ 
	color: #cabb33; 
	text-align: center;
	font-family: 'New Tegomin', serif; /* Fuentes de Google */
	font-size: 900%; 
	font-weight: normal; 
	line-height: 10px; 
	margin: auto;
} 
h1:link {
	color:#315e37;
	cursor: pointer;
	text-decoration: none;  /* para que no subraye los vínculos en los titulares*/ 
}
h2 {
	color: #cabb33; 
	padding: 10px 5px 1px 5px;
	text-align: center;
	font-family: 'Neucha', cursive;; /* Fuentes de Google */
	font-size: 200%; 
	font-weight: normal; 
	line-height: 50px; 
	margin: auto;
}
h3 {
	position:relative;
	text-align: center;
	color: #cabb33; 
	font-family: 'Neucha', cursive; /* Fuentes de Google */
	font-size: 200%; 
	font-weight: normal; 
	line-height: 50px; 
	margin: auto;
}
h4 {
	color: #292611; 
	text-align: center;
	font-family: 'Neucha', cursive; /* Fuentes de Google */
	font-size: 180%; 
	font-weight: normal; 
	line-height: 50px; 
	margin: auto;
}
h5 {
	color: #292611; 
	text-align: center;
	font-family: 'Neucha', cursive; /* Fuentes de Google */
	font-size: 180%; 
	font-weight: normal; 
	line-height: 60px; 
	margin: auto;
}
.volver{ /* Para el botón de volver al inicio */
	position: top;
	text-align: top;
	max-width:100px;
	top: 100px;
	margin:0;  
	font-family: 'Amatic SC', cursive; /* Fuentes de Google */
	font-size: 16px;
	font-weight: normal;
	color:#b39a2e;
	text-shadow: 1px 1px #ffffff;
}
.volver:hover {
	color:#ff0000;
	text-shadow: 1px 1px #ffffff;
	background-image: none;	
	cursor:pointer;
}   
.parrafo { /* Estilo para los párrafos generales */
	position:relative;
	text-align: justify;
	max-width:640px;
	margin:auto;  /* margen igual a izquierda y derecha */
	font-family: 'Open Sans Condensed', sans-serif;  
	font-size: 20px;
	font-weight: normal;
	color:#000000;
}
.parrafo_ref { /* Estilo para los párrafos generales */
	position:relative;
	text-align: justify;
	max-width:640px;
	margin:auto;  /* margen igual a izquierda y derecha */
	font-family: 'Open Sans Condensed', sans-serif;  
	font-size: 100%;
	font-weight: normal;
	color:#000000;
}
.izquierda{ /* Parte izquierda al dividir la pantalla */
	height: 100vh;
	width: 50%;
}
.derecha{ /* Parte derecha al dividir la pantalla */
	padding: 0px 20px;
	background-size: cover;
	background-position: center;
	width: 50%;
	height: 100vh;
}
#pantalla-dividida{ /* Permite poner un div al lado del otro */
	display: flex;
}
.parrafo_izquierda { /* Estilo para los párrafos de la izquierda en pantalla dividida */
	padding: 1em 3px 1px 5px;
	position:relative;
	text-align: justify;
	width: 100%;
	height: 55vh;
	margin:auto;  /* margen igual a izquierda y derecha */
	font-family: 'Open Sans Condensed', sans-serif;  /* Fuentes de Google */
	font-size: 124%;
	font-weight: normal;
	color:#000000;
}
.parrafo_img { /* Estilo para los párrafos en los contenedores */
	padding: 1em 3px 1px 5px;
	position:relative;
	text-align: justify;
	width:100%;
	height: 55vh;
	margin: 0;  /* margen igual a izquierda y derecha */
	font-family: 'Open Sans Condensed', sans-serif;  
	font-size: 130%;
	font-weight: normal;
	color:#ffffff;
}
.texto_figura{ /* Estilo para los párrafos de abajo de las imagenes */
	position: relative;
	max-width:100%;
	margin:auto;  /* margen igual a izquierda y derecha */
	font-family: 'Open Sans Condensed', sans-serif;  /* Fuentes de Google */
	font-size: 20px;
	font-weight: normal;
	text-align:center;
	color:#000000;
}
img{ /* Estilo para las imágenes */
	padding: 1em 3px 10px 1em;
	position: relative;
	align-self:auto;
	display:block;
}
.imgcheckbox{
	padding: 0%;

}
.container { /* Contenedor para la transición de texto sobre imagen */
	position: relative;
	width: 100%;
	height: 80%;
	padding: 10em 0px 0px 0px;
	margin: 0;
  }
.image { /* Hacer la imagen responsive */
	width: 90%;
}
.overlay { /* Estilo para la animación del contenedor que aparece sobre la imagen */
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #008CBA;
	overflow: hidden;
	width: 102%;
	height: 86%;
	transform: scale(0);
	transition: .3s ease; /* Tiempo de duración de la transición */
}
.container:hover .overlay, .container:active .overlay {/* Realizar el efecto overlay al pasar el mouse sobre la imagen */
	transform: scale(1);
}
.text { /* Estilo para el div del texto dentro del contenedor */
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
/*----------------------------------------------- linea de tiempo ----------------------------------------------------------------------------------*/
.timeline{
	margin-top: 40px;
	margin-bottom: 40px;
	position: relative;
}
.timeline:before{
	content: '';
	position: absolute;
	left: 50%;
	width: 2px;
	height: 100%;
	background: #6658ea
}
.content{
	 border: #6658ea 1px solid; 
	 padding: 20px; 
	 border-radius: 
	 20px; 
	 color: royalblue;
	 background-color: #508ca0;
	}
.timeline ul{ margin: 0; padding: 0}
.timeline ul li{ 
	list-style: none;
	position: relative;
	width: 50%;
	padding: 20px 40px;
	box-sizing: border-box;
}

.timeline ul li:nth-child(odd){
	float: left;
	text-align: right;
	clear: both;
}
.timeline ul li:nth-child(odd)::before{
	content: '';
	position: absolute;
	top: 40px;
	right: -14px;
	width: 20px;
	height: 20px;
	background: white;
	border: 2px solid #6658ea;
	border-radius: 50%
}
.timeline ul li:nth-child(odd)::after{
	content: '';
	position: absolute;
	border-style: solid;
	width: 0;
	height: 0;
	top: 44px;
	right: 25px;
	border-width: 10px 0 10px 15px;
	border-color: transparent transparent transparent #6658ea;
}

.timeline ul li:nth-child(even){
	float: right;
	text-align: left;
	clear: both;
}


.timeline ul li:nth-child(even)::before{
	content: '';
	position: absolute;
	top: 40px;
	left: -10px;
	width: 20px;
	height: 20px;
	background: white;
	border: 2px solid #6658ea;
	border-radius: 50%
}
.timeline ul li:nth-child(even)::after{
	content: '';
	position: absolute;
	border-style: solid;
	width: 0;
	height: 0;
	top: 44px;
	left: 25px;
	border-width: 10px 15px 10px 0px;
	border-color: transparent #6658ea transparent transparent;
}

@media only screen and (max-width: 860px) {
	a:hover , a:active{    /* indica el estilo cuando el cursor está sobre el elemento en computador y dispositivo móvil*/ 
		color: #b92929;
	}
	.menu {    /* estilo para el menu de navegación */ 
		width: 500px;  
		margin: auto;
	}

	.parrafo_img { /* Estilo para los párrafos en los contenedores */ 
		font-size: 100%;
	}
	.linea-tiempo::before { /* Se inserta contenido vacío que tiene un ancho de 3px, se posiciona al 50% del contenido y tiene fondo negro. */
		left: calc(60% + 3%);
	}
	.timeline:before{
		left: 0%;
	}
	.timeline ul li{ 
		width: 100%;
	}
	.timeline ul li:nth-child(odd){
		float: right;
		text-align: left;
	}
	.timeline ul li:nth-child(odd)::before{
		left: -10px;
	}
	.timeline ul li:nth-child(odd)::after{
		left: 25px;
		border-width: 10px 15px 10px 0px;
		border-color: transparent #6658ea transparent transparent;
	}
	
}

@media only screen and (max-width: 640px) {
	a:hover , a:active{    /* indica el estilo cuando el cursor está sobre el elemento en computador y dispositivo móvil*/ 
		color: #b92929;
	}

	img{ /* Estilo para las imágenes */
		padding: 1em 3px 10px 0px;
		position: relative;
		align-self:auto;
		display:block;
	}

	h1{     /* estilo para los titulares */ 
		color: #cabb33; 
		text-align: center;
		font-family: 'New Tegomin', serif; /* Fuentes de Google */
		font-size: 500%; 
		font-weight: normal; 
		line-height: 10px; 
		margin: auto;
	}

	header label{
        display:block; /* se muestra el checkbox cuando se reduce la ventana*/
    } 

	.menu {
        position:static;  /* sostiene la posición aunque se haga scroll en el contenido */
        background: rgba(0.5, 0.5, 0.5, 0.2); /* rojo, verde, azul, alpha (transparencia) */
		z-index: 30; /* para asegurar que el menu esta por encima de todo lo demás*/
        width: 40%; /* se refiere al ancho del fondo del menu y no a los botones */
        margin-left: -150%; /* se oculta porque se coloca por fuera de la ventana*/
		margin-top: 4px;
        transition: all 1s;   /* la animación de desplegar el menu dura 1 segundo*/
    } 
    .menu ul {
        flex-direction: row;  /* se despliega en sentido vertical*/
    } 
    .menu li {
    font-family: 'Open Sans Condensed', sans-serif; 
    }

	#btn-menu:checked ~ .menu {  /* el checkbox controla las dos posiciones del menu */
        margin: 1px; 
    }

	.parrafo_izquierda { /* Estilo para los párrafos de la izquierda en pantalla dividida */
		font-size: 100%;
	}

	#pantalla-dividida{ /* Permite poner un div al lado del otro */
		display:grid;
	}
	.izquierda{ /* Parte izquierda al dividir la pantalla */
		height: 100%;
		width: 100%;
		text-overflow: clip; 
		position: relative;
	}
	.derecha{ /* Parte derecha al dividir la pantalla */
		position:relative;
		padding: 0px 0px;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
	}

	.parrafo_img { /* Estilo para los párrafos en los contenedores */ 
		margin-top: 20%;
		font-size: 70%;
	}
	.container { /* Contenedor para la transición de texto sobre imagen */
		position: relative;
		width: 100%;
		height: 100%;
	  }
	  .timeline:before{
		left: 0%;
	}
	.timeline ul li{ 
		width: 100%;
	}
	.timeline ul li:nth-child(odd){
		float: right;
		text-align: left;
	}
	.timeline ul li:nth-child(odd)::before{
		left: -10px;
	}
	.timeline ul li:nth-child(odd)::after{
		left: 25px;
		border-width: 10px 15px 10px 0px;
		border-color: transparent #6658ea transparent transparent;
	}
	
}